:tocdepth: 2

API
===

This part of the documentation lists the full API reference of all classes and functions.

CLI
---

.. automodule:: {{package_name}}.cli

.. autofunction:: {{package_name}}.cli.cli.cli
