Documentation
=============

--------------

**This project was generated with:** `python-base <https://github.com/rszamszur/copier-python-base>`__

--------------

Documentation
-------------

This part of the documentation guides you through all of the features and usage.

.. toctree::
   :maxdepth: 2

   install
   {% if nix %}nix{% endif %}
   usage

API Reference
-------------

If you are looking for information on a specific function, class, or
method, this part of the documentation is for you.

.. toctree::
   :maxdepth: 2

   api

Miscellaneous Pages
-------------------

.. toctree::
   :maxdepth: 2

   license
   changelog
